:root {
	--container-width-header: 1346px;
	--container-padding: 20px;

	--container-width: 1200px;
	
	--page-bg: #14110E;
	--text-color: #ffffff;
	--font-main: "NotoSans";
	--font-weight: 400;



	--laptop-size: 1346px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	// --background: #fdfdfd;
	// --border-radius: 15px;
	// --accent: #ac182c;

}

// .dark {
// 	--page-bg: #000000;
// 	--text-color: #fff;
// }
